.projet-1 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.projet1 img {
  margin-top: 40px;
  margin-bottom: 40px;
}

.projet-2 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.projet2 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.projet-3 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.projet3 img {
  margin-top: 40px;
  margin-bottom: 40px;
}
