.projet-1 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.projet1 img {
  margin-top: 20px;
  margin-bottom: 20px;
}

.projet-2 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.projet2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.projet-3 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.projet3 img {
  margin-top: 20px;
  margin-bottom: 20px;
}

.projet-4 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.projet4 video {
  margin-top: 20px;
  margin-bottom: 20px;
}

.projet-5 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.projet5 video {
  margin-top: 20px;
  margin-bottom: 20px;
}

.projet-6 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.projet6 video {
  margin-top: 20px;
  margin-bottom: 20px;
}

.projet-7 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.projet7 video {
  margin-top: 20px;
  margin-bottom: 20px;
}

.projet-8 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.projet8 video {
  margin-top: 20px;
  margin-bottom: 20px;
}

.projet-9 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.projet9 img {
  margin-top: 20px;
  margin-bottom: 20px;
}

.projet9 h2 {
  margin-top: 20px;
}
